@font-face {
	font-family: typewriter;
	src: url(fonts/Remingtoned%20Type.woff);
}

.boxthing {
	background-color: black;
	width: 800px;
	padding: 75px;
	margin: auto;
	font-family: typewriter;
}

.pathway_text {
    background-image: linear-gradient(90deg, #ff0000 0%, #0000ff 100%);
    -webkit-background-clip: text;
    color: transparent;
}